<footer class="footer">
  <div class="arrow2-icon"> <a href="#start">
      <img src="./assets/images/ico-arrow.svg" alt="arrow-icon" title="Move to Main Title" /></a></div>

  <nav class="nav">
    <div class="recommendations">
      <ul>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">articles</a></li>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">books</a></li>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">events</a></li>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">reasons</a></li>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">tips</a></li>
      </ul>
    </div>
    <div class="social-networks">
      <ul>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">twitter</a></li>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">instagram</a></li>
        <li><a href="https://adalab.es/" class="link" title="visit-adalab">mastodon social</a></li>
      </ul>
    </div>
    <div class="end-of-page">
      <div class="copy">&copy;2021</div>
      <div class="we-love">we love &#9829 components</div>
    </div>
  </nav>
</footer>