<header class="header">
  <nav class="menu-icon">
    <a href="https://adalab.es/"><img src="./assets/images/ico-menu.svg" alt="menu-icon" title="menu-icon" /></a>
  </nav>

  <div class="title">
    <h1 class="title1">Anonymous proxy</h1>
    <h3 class="subtitle">In hac habitasse platea dictumst</h3>

      <div class="scroll-icon">
        <a href="#reasons-title">
          <img src="./assets/images/ico-scroll-down.svg" alt="scroll-icon" title="Move to 3 Reasons to purchase" /></a>
      </div>
  </div>
</header>