.footer {
  background-color: #304268;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-family: "Roboto-Regular";
}

.nav {
  padding: 39px 45px 39px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.arrow2-icon {
  height: 45px;
  width: 45px;
  font-size: 24px;
  background-color: white;
  box-shadow: 0 2px 4px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transform: translateY(-50%);
  margin: 0 auto 0 auto;
}

ul {
  list-style: none;
  font-family: $font-main;
  font-size: 16px;
  line-height: 30px;
  color: white;
  text-align: center;
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.end-of-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: lowercase;
  margin-top: 30px;
  margin-bottom: 45px;
  font-family: $font-main;
}
.we-love {
  margin-top: 5px;
  font-size: 14px;
}
.link {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    text-align: left;
  }

  .recommendations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .end-of-page {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    padding-left: 25px;
  }

  .social-networks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
  }
  .link {
    text-align: left;
    padding-right: 60px;
  }
}

@media all and (min-width: 1200px) {
  .nav {
    padding-left: 200px;
    padding-right: 200px;
  }
}
