/*main*/

.main {
  position: relative;
  height: auto;
  width: 100%;
  background-color: white;
  text-align: center;
}

.white-main {
  position: relative;
  text-align: left;
  margin: 15px 20px 15px 20px;
  padding: 15px;
}

.insomnia-section {
  margin: 20px 10px;
  text-align: left;
}

.insomnia-title {
  font-family: "Roboto", sans-serif;
  color: #8ccbea;
  font-size: 14px;
  line-height: 30px;
  margin-left: 15px;
  text-transform: capitalize;
}

.insomnia-subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 30px;
  color: black;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  text-transform: capitalize;
}

.insomnia-text {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
  text-align: left;
}

.go-button {
  width: 76px;
  height: 45px;
  border: 2px #f26002 solid;
  color: #f26002;
  padding: 0 25px 0 26px;
  margin-top: 50px;
  margin-left: 15px;
  line-height: 45px;
  border-radius: 22.5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*blue-main*/

.blue-main {
  position: relative;
  text-align: left;
  padding: 10px;
  background-color: #eff9ff;
}

.purchase-section {
  position: relative;
  top: 0px;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px 15px 60px;
}

.purchase-title {
  grid-column: 1;
  grid-row: 1;
  margin-top: 30px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}

.reason1-container {
  grid-column: 1;
  grid-row: 2;
  font-size: 18px;
  margin: 45px 70px 0px 70px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  color: black;
  font-family: "Roboto Slab", serif;
}

.reason2-container {
  grid-column: 1;
  grid-row: 3;
  font-size: 18px;
  margin: 45px 70px 0px 70px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 30px;
}

.reason3-container {
  grid-column: 1;
  grid-row: 3;
  font-size: 18px;
  margin: 45px 70px 0px 50px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 30px;
}

.more-reasons-button {
  grid-column: 1;
  grid-row: 4;
  width: 184px;
  height: 45px;
  border: 2px #f26002 solid;
  line-height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 45px;
  margin-bottom: 50px;
}

.more-reasons-button-link {
color: white;
}

a {
  text-decoration: none;
}

@media all and (min-width: 768px) {


  .go-button {
      margin-top: 46px;
      width: 91px;
  }

  .insomnia-text {
    margin-top: 30px;
  }

  .purchase-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .purchase-title {
    font-size: 26px;
    grid-column: 2;
    grid-row: 1;
  }

  .reason1-container {
    margin: 45px 32px 45px 32px;
    grid-column: 1;
    grid-row: 2;
  }

  .reason2-container {
    margin: 45px 32px 45px 32px;
    grid-column: 2;
    grid-row: 2;
  }

  .reason3-container {
    margin: 45px 32px 45px 32px;
    grid-column: 3;
    grid-row: 2;
  }

  h4 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .more-reasons-button {
    grid-column: 2;
    grid-row: 3;
    width: 210px;
    margin-bottom: 60px;
  }
}

@media all and (min-width: 1200px) {
  /*.insomnia-section {
    margin-left: 276px;
    margin-right: 276px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .go-button {
      width: 160px;
  }

  .purchase-rectangle {
    margin-left: 276px;
    margin-right: 276px;
  }*/
  .purchase-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .purchase-title {
    font-size: 26px;
    grid-column: 2;
    grid-row: 1;
  }

  .reason1-container {
    margin: 45px 32px 45px 32px;
    grid-column: 1;
    grid-row: 2;
  }

  .reason2-container {
    margin: 45px 32px 45px 32px;
    grid-column: 2;
    grid-row: 2;
  }

  .reason3-container {
    margin: 45px 32px 45px 32px;
    grid-column: 3;
    grid-row: 2;
  }

  .more-reasons-button {
    grid-column: 2;
    grid-row: 3;
    width: 210px;
  }
}
